reg*_proc*.*
timestamp*

gpu_device*.txt
addressing.txt
output_list_stations.txt
output_mesher.txt
output_solver.txt
plot_source_spectrum.txt
plot_source_time_function.txt
values_from_mesher.h
starttimeloop.txt
RECORDHEADERS
source.vtk
sr.vtk
receiver*.vtk

# Annoying or private directories
.idea/*
*__pycache__*
*.DS_Store
updates/*

# File types
*.dat
*.dat_ENZ
*.dat_RTZ
*.dat_TEST
*.dat_RTZ_NOINT_WE
*.dat_TEST_NOINT_WE
*.sac
*.sem.ascii
*.pdf

 
# Figures
Figures/pngs/*
Figures/pdfs/*


# Vallee data: 
ps_vapf*
RESP.*
data/data_forward_pegs/Vallee_data/*
data/data_forward_pegs/Juhel_2019_NM/*


# Ensight data: 
ensight/ensight_gold_files/*


# Specific data: 
data/data_forward_pegs/elastic_test/*/*/*_pegs

data/data_forward_pegs/S40RTS/*/*_pegs
