*.ascii
*timestamp*
*.case
*.geo
*.gpot
*.gpot5
*.id
*.grav
*.grav5
*.grav1kernel
*.grav2kernel
*.alphakernel
*.betakernel
*.analytical_gknl1
*.mukernel
*.rhokernel
*.rhonotprimekernel
*.kappakernel
*.kappakernel
*.png
*.inter_rho*
*.debug_rho*
*.rho*int*
*.analy1kernel
*g1_perc
*.nc
*error_message*
*addressing*

.idea/*
*.sac
*.SAC
*CMTSOLUTION*
fd_data*
gpu_device_*.txt
*.adj
*.psvm
*.pvsm
output_solver.txt
output_mesher.txt
*.gmt*
*.sachist
output_list_stations.txt

plot_source_spectrum.txt
plot_source_time_function.txt
receiver.vtk
source.vtk
sr.vtk
starttimeloop.txt
values_from_mesher.h
wanted_slices*
RECORDHEADERS
RESP*.BH*
Par_file
*_pegs
*/Vallee_data/*
XAN*
ULN*
FUK*
INCN*
MA2*
INU*
MDJ*
NE93*